---
description: Configuration parameters and synthetic datasets creation
output-file: config.html
title: Config

---

<!-- WARNING: THIS FILE WAS AUTOGENERATED! DO NOT EDIT! -->

In [1]:
#| echo: false
#| output: asis
show_doc(generate_synthetic_data)

---

[source](https://github.com/hrossman/pheno-utils/blob/main/pheno_utils/config.py#L24){target="_blank" style="float:right; font-size:smaller"}

### generate_synthetic_data

>      generate_synthetic_data (n:int=1000)

Generates a sample DataFrame containing age, gender, and value data.

Args:
    n: The number of rows in the generated DataFrame.

Returns:
    A pandas DataFrame with columns 'age', 'gender', and 'val'.

In [ ]:
data = generate_synthetic_data()
data.head()

,date_of_research_stage,age_at_research_stage,sex,val1,val2
participant_id,,,,,
0,2021-07-28,57.764984,1,124.977830,56.731941
1,2021-12-24,64.400381,0,88.942255,43.921269
2,2020-02-25,72.453599,0,79.310799,41.031832
3,2020-10-08,62.306085,0,61.970616,35.829777
4,2021-01-12,43.778984,0,78.667657,40.838890