#  Config

> Configuration parameters and synthetic datasets creation

In [ ]:
#| default_exp config

In [ ]:
#| hide
from nbdev.showdoc import *

In [ ]:
#| export
import numpy as np
import pandas as pd

In [ ]:
#| export
REF_COLOR = "k"
FEMALE_COLOR = "C1"
MALE_COLOR = "C0"
ALL_COLOR = "C5"

GLUC_COLOR = "C0"
FOOD_COLOR = "C1"

In [ ]:
#| export

def example_agesex_data(n: int = 1000) -> pd.DataFrame:
    """
    Generates a sample DataFrame containing age, gender, and value data.

    Args:
        n: The number of rows in the generated DataFrame.

    Returns:
        A pandas DataFrame with columns 'age', 'gender', and 'val'.
    """
    ages = np.random.uniform(35, 73, size=n)
    genders = np.random.choice([0, 1], size=n)
    vals = np.random.normal(30 + 1 * ages + 40 * genders, 20, size=n)
    
    data = pd.DataFrame(data={"age_at_research_stage": ages, "sex": genders, "val1": vals})
    data["val2"] = data["val1"]*0.3 + 0.5*np.random.normal(0,50) + 0.2*10*data["sex"]
    return data

In [ ]:
data = example_agesex_data()
data.head()

   age_at_research_stage  sex        val1       val2
0              49.885171    0  106.947791  37.361568
1              49.803657    1  128.705700  45.888941
2              55.433178    0  120.067667  41.297531
3              55.832332    1  113.601242  41.357604
4              56.496761    1  104.433925  38.607409

In [ ]:
#| hide
import nbdev; nbdev.nbdev_export()